

@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;  

    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: -($item-size / 6);
    
      $angle: (200 / $item-count);
      $rot: 100;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform:rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
          -webkit-transform: 
            rotate($rot * 1deg) 
            translate($circle-size / 2) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }

.revolver{
    @include on-circle($item-count:6, $circle-size:30rem, $item-size:6.25rem);

    transition:.15s;
}

